:root {
  --color1: rgb(255, 255, 255);
  --color2: rgb(199, 239, 0);
  --color3: rgb(34, 65, 152);
  --color4: rgb(4, 12, 16);
}

/* Réinitialisation */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: rgb(231, 235, 239);
}

main {
  padding-top: 63px;
  min-height: calc(100vh - 72px);
}

section {
  padding: 60px 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* ========================================= /
/ ================ GLOBAL ================== /
/ ========================================= */

/* ---------NAVBAR--------- */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  padding: 1rem 0;
  background-color: var(--color3);
}

.navbar__container {
  display: flex;
  align-items: center;
}

.navbar__brand {
  margin-right: 20px;
}

/* à effacer plus tard */

.navbar__brand a {
  color: var(--color2);
}

.navbar__menu {
  display: none;
}

.navbar__menu--visible {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  width: 50%;
  background-color: var(--color3);
}

.navbar__item {
  display: flex;
  border-top: 1px solid var(--color2);
}

.navbar__link {
  padding: 10px;
  color: var(--color1);
}

.navbar__link:hover {
  color: var(--color2);
}

.navbar__connexion-button {
  display: inline-block;
  text-align: center;
  margin-left: auto;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  font-size: 13px;
  font-weight: bold;
  background-color: var(--color2);
  color: var(--color1);
  cursor: pointer;
  transition: color 0.3s ease;
  &:hover {
    color: var(--color2);
    background-color: var(--color1);
    transform: scale(1.05);
  }
  &:active {
    transform: scale(0.95);
  }
}

/* boutton de mon compte (alternative quand l'utilisateur est connecté) */

.navbar__user-home-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  padding: 2px 4px;
  text-decoration: none;
  border-radius: 8px;
  border: 1px solid var(--color4);
  font-size: 12px;
  font-weight: bold;
  background-color: var(--color1);
  color: var(--color4);
  cursor: pointer;
}

.navbar__user-home-img {
  height: 25px;
  width: 25px;
  margin-right: 12px;
  border: 1px solid var(--color4);
  border-radius: 100%;
}

/* boutton de mon compte (alternative quand l'utilisateur est connecté) */

/* la suite de nav barre */

.navbar__toggler {
  all: unset;
  width: 32px;
  height: 27px;
  margin-right: 20px;
  border: none;
  background-color: var(--color3);
  cursor: pointer;
}

/* Transitions pour les barres */
.hamburger__bar--top,
.hamburger__bar--bottom {
  transition: transform 0.3s ease-in-out;
  fill: var(--color1);
}

.hamburger__bar--middle {
  transition: opacity 0.3s ease-in-out;
  fill: var(--color1);
}

/* ---------FOOTER--------- */

.footer {
  position: sticky;
  background-color: var(--color3);
  width: 100%;
  padding: 1rem 0;
}

.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__brand {
  display: none;
}

.footer__socials {
  display: flex;
  gap: 10px;
}

.footer__socials i {
  width: 30px;
  height: auto;
  cursor: pointer;
  margin: auto;
  color: var(--color1);
}

.footer__menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__link {
  font-size: 0.9rem;
  color: var(--color1);
}

.footer__link:hover {
  color: var(--color2);
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 12px;
  padding-left: 12px;
}

/* ---------SIDEBAR--------- */

.user__sidebar {
  position: fixed;
  left: 0;
  height: 100vh;
  width: 250px;
  padding: 8px 16px;
  background-color: var(--color1);
  transition: all 0.5s ease;
}

.user__sidebar.active {
  width: 80px;
}

.sidebar__user-img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid var(--color4);
}

#sidebar__btn {
  position: absolute;
  color: black;
  top: 8px;
  left: 90%;
  font-size: 1.2rem;
  line-height: 50px;
  transform: translateX(-50%);
  cursor: pointer;
}

.user__sidebar.active #sidebar__btn {
  left: 50%;
}

.user__sidebar-logo {
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  pointer-events: none;
  opacity: 1;
  transition-delay: 0.2s;
}

.user__sidebar.active .user__sidebar-logo {
  opacity: 0;
  transition-delay: 0s;
}

.user__sidebar-logo i {
  font-size: 2rem;
  margin-right: 5px;
}

.user__sidebar-user {
  display: flex;
  align-items: center;
  margin: 16px 0;
}

.sidebar__user-info {
  margin-left: 16px;
  opacity: 1;
  transition-delay: 0.2s;
}

.user__sidebar.active .sidebar__user-info {
  opacity: 0;
  transition-delay: 0s;
}

.sidebar__user-name {
  font-weight: 600;
}

.sidebar__menu-element {
  position: relative;
  min-width: 50px;
  height: 50px;
  width: 95%;
  margin: 16px 0;
  line-height: 50px;
}

.menu__list-element-ref {
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 16px;
  color: var(--color4);
  &:hover {
    background-color: var(--color2);

    color: var(--color1);
  }
}

.menu__list-element-ref i {
  min-width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 12px;
  line-height: 50px;
  transition-delay: 0.2s;
}

.sidebar__nav-item {
  opacity: 1;
  transition-delay: 0.2s;
}

.user__sidebar.active .sidebar__nav-item {
  opacity: 0;
  transition-delay: 0s;
}

.user__main-content {
  position: relative;
  min-height: 100%;
  left: 250px;
  transition: 0.5s ease;
  width: calc(100% - 250px);
}

.user__sidebar.active ~ .user__main-content {
  left: 80px;
  width: calc(100% - 80px);
}

.container__user-page {
  width: calc(100% - 80px);
  margin-top: 48px;
  margin-right: auto;
  margin-left: 40px;
}

/* ========== Sidebar Media Querries ========== */

@media (min-width: 576px) {
  .container__user-page {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container__user-page {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container__user-page {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container__user-page {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container__user-page {
    max-width: 1320px;
  }
}

/* ========================================= /
/ ========== GLOBAL Media Querries ========= /
/ ========================================= */

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  main {
    min-height: calc(100vh - 50px);
  }

  /* ---------NAVBAR--------- */

  .navbar__menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: static;
    width: auto;
    margin-right: auto;
  }
  .navbar__toggler {
    display: none;
  }
  .navbar__item {
    border-top: none;
  }
  .navbar__link {
    padding: 0 20px;
  }

  /* ---------FOOTER--------- */

  .footer__brand {
    display: block;
    max-width: 100px;
    cursor: pointer;
    margin: 0 20px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  /* ---------FOOTER--------- */

  .footer__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .footer__item {
    padding-left: 20px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

/* ========================================= /
/ =============== ACCUEIL ================== /
/ ========================================= */

/* === page d'accueil carrousel === */
.carousel {
  height: 45vh;
  width: 100%;
  position: relative;
}

.btn__carousel {
  position: absolute;
  background: none;
  border: none;
  outline: none;
  font-size: 2.6rem;
  z-index: 2;
  cursor: pointer;
  color: rgb(248, 244, 244);
  transform: translateY(-50%);
  top: 90%;
}

#prev {
  right: 65px;
}
#next {
  right: 25px;
}

.slide__carousel {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.4s ease-in-out;
}

.slide__carousel.active {
  opacity: 1;
}
.slide__carousel-image {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* === page d'accueil section matchs === */

.match__content {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 80px;
  border-radius: 8px;
  box-shadow: 2px -1px 10px rgb(122, 118, 118);
  background-color: var(--color1);
  overflow: hidden;
}

.match__image {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.match__description {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-around;
  margin: 20px;
}

.match__date {
  margin-top: 10px;
  margin-bottom: 30px;
}
.match__date-and-time {
  font-size: 1.1rem;
  padding-bottom: 15px;
}

.match__date-header {
  font-size: 1.5rem;
  font-weight: bold;
}

.match__location,
.match__team {
  margin-bottom: 30px;
}

.match__location-header,
.match__team-header {
  padding-bottom: 10px;
}

.match__location-header,
.match__team-header {
  font-weight: bold;
}

.match__reservation {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 32px;
}

.match__price span {
  font-weight: bold;
}

.match__reservation-btn {
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  background-color: var(--color2);
  color: var(--color4);
  cursor: pointer;
  transition: color 0.3s ease;
  &:hover {
    color: var(--color1);
    background-color: var(--color3);
    transform: scale(1.05);
  }
  &:active {
    transform: scale(0.95);
  }
}

/* ========================================= /
/ ============== A PROPOS ================== /
/ ========================================= */

/* === a propos carrousel === */

.club__carousel-title {
  text-align: center;
  margin-top: 120px;
}

.apropos__carousel {
  height: 70vh;
  width: 100%;
  position: relative;
}

.btn__carousel {
  position: absolute;
  background: none;
  border: none;
  outline: none;
  font-size: 2.6rem;
  z-index: 2;
  cursor: pointer;
  color: rgb(248, 244, 244);
  transform: translateY(-50%);
  top: 90%;
}

#prev {
  right: 65px;
}
#next {
  right: 25px;
}

.slide__carousel {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.4s ease-in-out;
}

.slide__carousel.active {
  opacity: 1;
}
.slide__carousel-image {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.club__carousel-description {
  margin-top: 40px;
}

/* === a propos team section === */

.about__team-list-title {
  text-align: center;
  margin-bottom: 60px;
}
.about__team-item {
  margin-bottom: 40px;
}
.about__team-item-title {
  text-align: center;
  margin-bottom: 50px;
}

.about__team-item-content {
  display: grid;
  grid-template-columns: 100%;
}

.about__team-item-content > div:first-child {
  margin-bottom: 40px;
}

.about__player-photo {
  width: 100%;
  height: auto;
}

.about__team-player-info {
  padding-top: 20px;
}

.about__team-player-name {
  text-align: center;
}

.about__team-player-bio {
  padding-top: 10px;
}

.about__team-player-rank {
  padding-top: 10px;
}

/* ========================================= /
/ ============== ESPACE VENTE ============== /
/ ========================================= */

.section__sell-wrapper {
  margin-top: 120px;
  text-align: center;
}

/* ========================================= /
/ ============== CONNECTION ================ /
/ ========================================= */
.connection__formulaire {
  display: flex;
  height: 100%;
}

.login {
  max-width: 400px;
  margin: auto;
  text-align: center;
}

.login__title {
  margin-bottom: 16px;
  font-size: 2rem;
}

.login__description {
  margin-bottom: 32px;
}

.login__link {
  color: var(--color4);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.login__form {
  text-align: left;
}

.login__form-group {
  margin-bottom: 24px;
}

.login__label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.login__input {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--color4);
  border-radius: 4px;
}

.login__button {
  width: 100%;
  margin: 16px auto;
  padding: 12px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  color: var(--color1);
  background-color: var(--color2);
  cursor: pointer;
  transition: 0.3s ease;
  &:hover {
    background-color: var(--color3);
  }
  &:active {
    transform: scale(0.95);
  }
}

.login__forgot-password {
  text-align: center;
}

/* ========================================= /
/ ============== INSCRIPTION =============== /
/ ========================================= */

.inscription__formulaire {
  display: flex;
  height: 100%;
}

.inscription {
  max-width: 400px;
  margin: auto;
  text-align: center;
}

.inscription__title {
  margin-bottom: 16px;
  font-size: 2rem;
}

.inscription__description {
  margin-bottom: 32px;
}

.login__form {
  text-align: left;
}

.inscription__form-group {
  margin-bottom: 24px;
}

.inscription__form-group-wrapper {
  display: grid;
  grid-template-columns: 46% 46%;
  gap: 8%;
}

.inscription__label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.inscription__input {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--color4);
  border-radius: 4px;
}

.inscription__user-terms {
  display: flex;
  align-items: center;
}

.inscription__user-terms {
  margin-bottom: 24px;
}

.inscription__user-terms-message {
  margin-left: 4px;
  font-size: 0.7rem;
  color: var(--color4);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.inscription__buttons {
  text-align: right;
}

.inscription__button-cancel {
  display: inline-block;
  text-align: center;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-size: 13.3333px;
  font-weight: bold;
  color: var(--color1);
  background-color: var(--color2);
  cursor: pointer;
  transition: 0.3s ease;
  &:hover {
    background-color: var(--color3);
  }
  &:active {
    transform: scale(0.95);
  }
}

.inscription__btn-validation {
  margin-left: 16px;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  font-weight: bold;
  color: var(--color1);
  background-color: var(--color2);
  cursor: pointer;
  transition: 0.3s ease;
  &:hover {
    background-color: var(--color3);
  }
  &:active {
    transform: scale(0.95);
  }
}
/* ========================================= /
/ ======= MEDIA QUERY PUBLIC CONTENT ======= /
/ ========================================= */
@media (min-width: 550px) {
  .content {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .content {
    max-width: 720px;
  }
  /* === ACCUEIL=== */
  /* -- Section match div -- */
  .match__content {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
  }
  /* === A PROPOS=== */
  /* -- Section equipe -- */
  .about__team-item-content {
    grid-template-columns: 45% 45%;
    gap: 10%;
  }

  .about__team-player {
    margin-bottom: auto;
  }

  .about__team-item-content > div:first-child {
    margin-bottom: auto;
  }

  .about__team-item {
    margin-bottom: 80px;
  }
}

@media (min-width: 992px) {
  .content {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .content {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .content {
    max-width: 1320px;
  }
}

/* ========================================= /
/ ========================================== /
/ ========= PAGES D'UTILISTAEUR ============ /
/ ========================================== /
/ ========================================= */

/* ========================================= /
/ ========== PAGE ACCUEIL PROFIL =========== /
/ ========================================= */

.home__page-menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 64px;
  gap: 16px;
}

.home__page-header-wrapper {
  margin: 64px 0;
}

.home__page-menu-element {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  height: 150px;
  width: 300px;
  /* margin: 16px auto; */
  padding: 16px;
  border: 1px solid var(--color4);
  border-radius: 8px;
  color: var(--color4);
  background-color: var(--color1);
  transition: 0.3s ease;
  &:hover {
    color: var(--color1);
    background-color: var(--color3);
  }
}

.home__page-menu-element i {
  font-size: 1.5rem;
}

.home__page-menu-element-header {
  font-weight: bold;
}

.home__page-menu-element-description {
  font-size: 0.9rem;
}

/* ========================================= /
/ ============== PAGE PROFIL =============== /
/ ========================================= */

.user__profile-information {
  width: 100%;
  margin: 32px auto;
  padding: 16px;
  border-radius: 8px;
  background-color: var(--color1);
}

.profile__information-element {
  width: 100%;
  margin-bottom: 16px;
}

.profile__information-element-content {
  width: 100%;
  margin: 4px 0;
  padding: 16px 8px;
  border: 1px solid;
  border-radius: 8px;
  background-color: rgb(191, 191, 191);
}

.profile__bouton-wrapper {
  margin-top: 24px;
}

.profile__btn-modification {
  display: inline-block;
  text-align: center;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-size: 13.3333px;
  font-weight: bold;
  color: var(--color1);
  background-color: var(--color2);
  cursor: pointer;
  transition: 0.3s ease;
  &:hover {
    background-color: var(--color3);
  }
  &:active {
    transform: scale(0.95);
  }
}

/* ========================================= /
/ =========== PAGE RESRVATION ============== /
/ ========================================= */

.user__reservation-information {
  width: 100%;
}

.user__reservation-element {
  width: 100%;
  margin: 32px 0;
  padding: 16px;
  border: 1px solid var(--color4);
  border-radius: 8px;
  background-color: var(--color1);
  box-shadow: 2px -1px 10px rgb(122, 118, 118);
}

.reservation__element-element-heading {
  margin: 8px 0;
}

.reservation__element-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  gap: 16px;
  margin: 16px;
}

.reservation__element-element {
  flex: 0 0 calc(100% - 16px);
}

.reservation__element-placement span {
  font-weight: bold;
}

.reservation__element-modification {
  text-align: right;
}
.reservation__element-modification-btn {
  display: inline-block;
  text-align: center;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-size: 13.3333px;
  font-weight: bold;
  color: var(--color1);
  background-color: var(--color2);
  cursor: pointer;
  transition: 0.3s ease;
  &:hover {
    background-color: var(--color3);
  }
  &:active {
    transform: scale(0.95);
  }
}

/* ========================================= /
/ =========== PAGE COMMANDES ============== /
/ ========================================= */

.user__order-information {
  width: 100%;
  margin: 32px 0;
  padding: 16px;
  border: 1px solid var(--color4);
  border-radius: 8px;
  background-color: var(--color1);
}

.user__order-element {
  width: 100%;
  margin: 32px auto;
  padding: 16px;
  border: 1px solid var(--color4);
  border-radius: 8px;
  background-color: var(--color1);
  box-shadow: 2px -1px 10px rgb(122, 118, 118);
}

.order__element-element-heading {
  margin: 8px 0;
}

.order__element-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  gap: 16px;
  margin: 16px;
}

.order__element-element {
  flex: 0 0 calc(100% - 16px);
}

.order__element-placement span {
  font-weight: bold;
}

.order__element-annulation {
  text-align: right;
}

.order__user-payement-btn,
.order__element-annulation-btn {
  display: inline-block;
  text-align: center;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-size: 13.3333px;
  font-weight: bold;
  color: var(--color1);
  background-color: var(--color2);
  cursor: pointer;
  transition: 0.3s ease;
  &:hover {
    background-color: var(--color3);
  }
  &:active {
    transform: scale(0.95);
  }
}

.order__user-payement {
  display: flex;
  align-items: center;
  justify-content: right;
}

.order__user-total-price {
  margin: 0 16px;
}

.order__user-total-price span {
  font-weight: bold;
  margin: 0 8px;
}

/* ========================================= /
/ =========== PAGE MODE PAIEMENT =========== /
/ ========================================= */

/* =========== Section carte enregistré =========== */
.user__payement-information {
  width: 100%;
}

.payement__card-saved {
  margin: 32px 0;
  padding: 16px;
  border: 1px solid var(--color4);
  border-radius: 8px;
  background-color: var(--color1);
}

.payement__card-saved-element {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 16px 0;
  padding: 16px;
  gap: 16px;
  border: 1px solid var(--color4);
  border-radius: 8px;
  background-color: var(--color1);
  box-shadow: 2px -1px 10px rgb(122, 118, 118);
}

.payement__card-saved-logo {
  /* ratio 1 : 1.33 */
  height: 50px;
  width: 66px;
  border: 1px solid var(--color4);
  border-radius: 4px;
}

.payement__card-saved-delete-btn {
  cursor: pointer;
  &:active {
    transform: scale(0.95);
  }
}
/* =========== Section rajouter un carte =========== */

.payement__card-new {
  width: 100%;
  margin: 32px 0;
  padding: 16px;
  border: 1px solid var(--color4);
  border-radius: 8px;
  background-color: var(--color1);
}

.payement__card-new-logo-wrapper {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin: 16px;
}

.payement__card-new-logo {
  /* ratio 1 : 1.33 */
  height: 50px;
  width: 66px;
  border: 1px solid var(--color4);
  border-radius: 4px;
}

.payement__card-new-form {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: end;
  flex-wrap: wrap;
  margin: 16px 0;
  padding: 16px;
  gap: 16px;
}

.payement__card-label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.payement__card-input {
  padding: 12px;
  border: 1px solid var(--color4);
  border-radius: 4px;
  /* force de fixer la taille de champ input */
  /* field-sizing: content; */
}

.card__new-form-submit-btn {
  height: 41px;
  /* margin-left: 16px; */
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  font-weight: bold;
  color: var(--color1);
  background-color: var(--color2);
  cursor: pointer;
  transition: 0.3s ease;
  &:hover {
    background-color: var(--color3);
  }
  &:active {
    transform: scale(0.95);
  }
}

/* ========================================= /
/ =============== PAGE AMIS ================ /
/ ========================================= */

.user__friends-information {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 32px;
  padding: 16px;
  border-radius: 8px;
  background-color: var(--color1);
}

.user__friend-element {
  display: block;
  text-align: center;
  width: 200px;
  height: 200px;
  margin: 32px;
  padding: 16px;
  border: none;
  box-shadow: 2px -1px 10px rgb(122, 118, 118);
  border-radius: 8px;
}

.friend__element-photo {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 1px solid var(--color4);
}

.friend__element-description {
  display: flex;
  justify-content: center;
  margin: 16px;
  gap: 8px;
}

.friend__element-reservations-btn {
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  font-weight: bold;
  color: var(--color1);
  background-color: var(--color2);
  cursor: pointer;
  transition: 0.3s ease;
  &:hover {
    background-color: var(--color3);
  }
  &:active {
    transform: scale(0.95);
  }
}

.user__icone-active {
  color: var(--color1);
  background-color: var(--color2);
}

/* ========================================= /
/ ======= MEDIA QUERY USERS CONTENT ======== /
/ ========================================= */

@media (min-width: 576px) {
  .container__user-page {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container__user-page {
    max-width: 720px;
  }

  .reservation__element-element {
    flex: 0 0 calc(50% - 16px);
  }

  .order__element-element {
    flex: 0 0 calc(50% - 16px);
  }

  .payement__card-saved-element {
    gap: 32px;
  }
}

@media (min-width: 992px) {
  .container__user-page {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container__user-page {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container__user-page {
    max-width: 1320px;
  }

  .home__page-menu {
    justify-content: unset;
  }

  .reservation__element-content {
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 0;
  }

  .reservation__element-element {
    flex: 0 0 25%;
  }

  .order__element-content {
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 0;
  }

  .order__element-element {
    flex: 0 0 20%;
  }
}
